* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

.app-wrap {
  min-width: 1220px;
}
.app-wrap .header-topbar {
  width: 100%;
  height: 45px;
  background-color: #232426;
}
.app-wrap .header-topbar .topbar-logo {
  float: left;
  margin: 12px 0 0 20px;
  background: url(../images/logo.png) no-repeat;
  width: 23px;
  height: 23px;
}
.app-wrap .header-topbar .topbar-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-wrap .header-topbar .topbar-content .tabs-item {
  float: right;
  line-height: 28px;
  font-size: 18px;
}
.app-wrap .header-topbar .topbar-content .tabs-item li {
  position: relative;
  float: left;
  cursor: pointer;
  font-size: 12px;
  color: #BFBFC0;
  padding: 0 20px;
}
.app-wrap .header-topbar .topbar-content .tabs-item .active {
  color: #e5e5e5;
  font-weight: 700;
}
.app-wrap .header-topbar .topbar-asider {
  float: right;
  margin-right: 18px;
}
.app-wrap .header-topbar .topbar-asider .user {
  float: left;
  width: 36px;
  height: 45px;
  position: relative;
}
.app-wrap .header-topbar .topbar-asider .user .user-user {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -12px;
  background: url(../images/topbar.png) 50% no-repeat;
  background-position: 1px 2px;
  background-size: 180%;
}
.app-wrap .header-topbar .topbar-asider .car {
  float: left;
  width: 36px;
  height: 45px;
  position: relative;
}
.app-wrap .header-topbar .topbar-asider .car .car-car .header-car {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -11px;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: url(../images/topbar.png) no-repeat;
  background-position: 0 -17px;
  background-size: 180%;
}
.app-wrap .header-topbar .topbar-asider .car .show-car {
  position: absolute;
  right: 4px;
  top: 45px;
  padding-top: 1px;
  z-index: 101;
  -webkit-transition: all 0.2s ease 0.1s;
  transition: all 0.2s ease 0.1s;
  visibility: hidden;
  opacity: 0;
  border-radius: 8px;
  width: 360px;
  height: 314px;
  padding-top: 180px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(../images/car.png);
  background-position: top 95px center;
  background-repeat: no-repeat;
}
.app-wrap .header-topbar .topbar-asider .car .show-car p:nth-of-type(1) {
  font-size: 18px;
  color: #333;
  font-weight: 400;
  text-align: center;
}
.app-wrap .header-topbar .topbar-asider .car .show-car p:nth-of-type(2) {
  color: #bcbcbc;
  font-size: 12px;
  text-align: center;
}
.app-wrap .header-topbar .topbar-asider .car .show {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  visibility: visible;
  opacity: 1;
}
.app-wrap .nav {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 75px;
  border-bottom: 1px solid #e1e1e1;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
.app-wrap .nav .nav-main {
  width: 1220px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-wrap .nav .nav-main .nav-title {
  max-width: 880px;
  overflow: hidden;
}
.app-wrap .nav .nav-main .nav-title .title-main {
  list-style: none;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}
.app-wrap .nav .nav-main .nav-title .title-main .title {
  margin-right: 30px;
  font-size: 14px;
  color: #4C4C4C;
}
.app-wrap .nav .nav-main .nav-title .title-main .title:hover {
  color: #5079d9;
}
.app-wrap .nav .nav-main .nav-title .title-main .active {
  font-weight: 700;
  color: #333;
}
.app-wrap .nav .nav-main .nav-title .nav-sub {
  display: flex;
  min-height: 266px;
  justify-content: center;
}
.app-wrap .nav .nav-main .nav-title .wrapper {
  display: flex;
  justify-content: center;
}
.app-wrap .nav .nav-main .nav-title .goods {
  display: flex;
  justify-content: center;
}
.app-wrap .nav .nav-main .nav-title .goods .item {
  margin-right: 30px;
}
.app-wrap .nav .nav-main .nav-title .goods .item .link {
  width: 126px;
  display: block;
  user-select: none;
  height: 222px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 37px;
}
.app-wrap .nav .nav-main .nav-title .goods .item .link .picture {
  height: 126px;
}
.app-wrap .nav .nav-main .nav-title .goods .item .link .name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 700;
  text-align: center;
  margin: 16px 0 8px;
  font-size: 14px;
  color: #333;
}
.app-wrap .nav .nav-main .nav-title .goods .item .link .price {
  color: #d44d44;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 700;
  text-align: center;
}
.app-wrap .nav .nav-main .nav-title .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 14px 0;
  min-height: 166px;
  width: 896px;
  margin: 0 auto;
}
.app-wrap .nav .nav-main .nav-title .service-list .link {
  user-select: none;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}
.app-wrap .nav .nav-main .nav-title .service-list .service-item {
  margin: auto 12px;
  padding: 24px 24px 18px;
  border-radius: 8px;
  text-align: center;
}
.app-wrap .nav .nav-main .nav-title .service-list .service-item img {
  height: 48px;
}
.app-wrap .nav .nav-main .nav-title .service-list .service-item .title {
  margin-top: 12px;
}
.app-wrap .nav .nav-main .nav-title .container {
  height: 266px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.app-wrap .nav .nav-main .nav-title .container .title {
  font-size: 12px;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  padding: 0 26px 0 5px;
}
.app-wrap .nav .nav-main .nav-title .container .wraper-container {
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  min-height: 210px;
}
.app-wrap .nav .nav-main .nav-title .container .wraper-container .wraper-item {
  margin-bottom: 10px;
  width: 202px;
}
.app-wrap .nav .nav-main .nav-title .link {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.app-wrap .nav .nav-main .nav-title .link .price {
  flex: 0 0 40px;
  height: 40px;
  margin-right: 10px;
}
.app-wrap .nav .nav-main .nav-title .link span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 40px;
  font-weight: 700;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.8);
  padding-right: 20px;
}
.app-wrap .nav .nav-main .nav-title .title-hide {
  height: 0;
  opacity: 0;
}
.app-wrap .nav .nav-main .nav-title .title-show {
  height: 277px;
  opacity: 1;
}
.app-wrap .nav .nav-main .nav-title .title-hide,
.app-wrap .nav .nav-main .nav-title .title-show {
  width: 100%;
  left: 0;
  top: 75px;
  z-index: 10;
  background-color: #fff;
  position: absolute;
  overflow: hidden;
}
.app-wrap .nav .nav-main .nav-aside {
  position: relative;
  height: 100%;
}
.app-wrap .nav .nav-main .nav-aside .search {
  z-index: 10;
  position: absolute;
  top: 19px;
  right: 0;
  width: 330px;
  height: 36px;
}
.app-wrap .nav .nav-main .nav-aside .search .form {
  position: relative;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  height: 36px;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  background-color: #fff;
}
.app-wrap .nav .nav-main .nav-aside .search .form .sumbit-btn {
  cursor: pointer;
  margin: auto 10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-image: url(../images/search.png);
  background-size: 100%;
}
.app-wrap .nav .nav-main .nav-aside .search .form .text {
  opacity: 0.5;
  -webkit-box-flex: 1;
  flex: 1;
  height: 100%;
  outline: none;
  border: none;
  font-size: 14px;
  padding: 0;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
}
.app-wrap .nav .nav-main .nav-aside .search .form .recommends {
  position: absolute;
  right: 0;
  top: 0;
  height: 34px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app-wrap .nav .nav-main .nav-aside .search .form .recommends .recommend {
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 8px;
  color: #8aad37;
  border: 1px solid rgba(138, 173, 55, 0.6);
  background: #f7fae1;
  font-weight: 700;
}
.app-wrap .nav .nav-main .nav-aside .search .form .recommends .recommend:first-child {
  color: #3965cc;
  border: 1px solid #93b2f7;
  background: #e5efff;
}
.app-wrap .nav .nav-main .topbar-aside {
  display: none;
  float: right;
  margin-right: 18px;
}
.app-wrap .nav .nav-main .topbar-aside .user {
  float: left;
  width: 36px;
  height: 45px;
  position: relative;
}
.app-wrap .nav .nav-main .topbar-aside .user .user-user {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -12px;
  background: url(../images/user.png) 50% no-repeat;
  background-position: 1px 2px;
  background-size: 100%;
}
.app-wrap .nav .nav-main .topbar-aside .car {
  float: left;
  width: 36px;
  height: 45px;
  position: relative;
}
.app-wrap .nav .nav-main .topbar-aside .car .car-car .nav-car {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -11px;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: url(../images/c.png) no-repeat;
  background-size: 100%;
}
.app-wrap .nav .nav-main .topbar-aside .car .show-car1 {
  position: absolute;
  right: -41px;
  top: 45px;
  padding-top: 1px;
  z-index: 101;
  -webkit-transition: all 0.2s ease 0.1s;
  transition: all 0.2s ease 0.1s;
  visibility: hidden;
  opacity: 0;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 20px 40px rgba(0, 0, 0, 0.15);
  width: 360px;
  height: 314px;
  padding-top: 180px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(../images/car.png);
  background-position: top 95px center;
  background-repeat: no-repeat;
  z-index: 101;
}
.app-wrap .nav .nav-main .topbar-aside .car .show-car1 .p {
  width: 10px;
  height: 10px;
  z-index: 105;
  position: absolute;
  border: 2px solid;
  right: 46px;
  top: -7px;
  border-color: transparent #cfcfcf #cfcfcf transparent;
  transform: rotate(225deg);
  background-color: #fff;
}
.app-wrap .nav .nav-main .topbar-aside .car .show-car1 div p:nth-of-type(1) {
  font-size: 18px;
  color: #333;
  font-weight: 400;
  text-align: center;
}
.app-wrap .nav .nav-main .topbar-aside .car .show-car1 div p:nth-of-type(2) {
  color: #bcbcbc;
  font-size: 12px;
  text-align: center;
}
.app-wrap .nav .nav-main .topbar-aside .car .show {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  visibility: visible;
  opacity: 1;
}
.app-wrap .content {
  max-width: 1220px;
  min-height: calc(100vh - 320px);
  margin: 0 auto;
}
.app-wrap .content .home-wrap {
  padding: 25px 0;
}
.app-wrap .content .home-wrap .banner {
  width: 1218px;
  height: 554px;
  border-radius: 8px;
  overflow: hidden;
}
.app-wrap .content .home-wrap .banner img {
  width: 100%;
}
.app-wrap .content .home-wrap .common-flex-box {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
}
.app-wrap .content .home-wrap .common-flex-box .flex-item {
  flex: 1;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border-right: 1px solid #efefef;
}
.app-wrap .content .home-wrap .common-flex-box .flex-item img {
  width: 100%;
  cursor: pointer;
}
.app-wrap .content .home-wrap .common-box {
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin-top: 25px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.1);
}
.app-wrap .content .home-wrap .common-box header {
  width: 1218px;
  height: 65px;
  display: block;
  position: relative;
  background: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.app-wrap .content .home-wrap .common-box header h5 {
  margin-left: 25px;
  font-weight: bolder;
  font-size: 18px;
  line-height: 60px;
  color: #666;
}
.app-wrap .content .home-wrap .common-box header .right {
  position: absolute;
  right: 10px;
  top: 0;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.app-wrap .content .home-wrap .common-box header .right .btn {
  display: inline-block;
}
.app-wrap .content .home-wrap .common-box header .right .disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}
.app-wrap .content .home-wrap .common-box header .right .btn-left {
  width: 48px;
  height: 48px;
  background-color: #fff;
  background: url(../images/left.png) no-repeat;
  background-size: 48px;
  transform: rotate(180deg);
}
.app-wrap .content .home-wrap .common-box header .right .btn-right {
  width: 48px;
  height: 48px;
  background: url(../images/right.png) no-repeat;
  background-size: 48px;
}
.app-wrap .content .home-wrap .common-box .flex-four {
  transform: translate(0px, 0px);
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.app-wrap .content .home-wrap .common-box .flex-four .spu-item {
  flex: 0 0 25%;
  position: relative;
  width: 305px;
  height: 429px;
  border: none;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  border-radius: initial;
  background: #fff;
  -webkit-transition: -webkit-box-shadow 0.15s ease-out;
  transition: -webkit-box-shadow 0.15s ease-out;
  transition: box-shadow 0.15s ease-out;
  transition: box-shadow 0.15s ease-out, -webkit-box-shadow 0.15s ease-out;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.app-wrap .content .home-wrap .common-box .flex-four .spu-item .item-cover {
  display: block;
  margin: 0 auto;
  padding: 45px 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.app-wrap .content .home-wrap .common-box .flex-four .spu-item .item-cover img {
  display: block;
  width: 216px;
  height: 216px;
  margin: 0 auto;
}
.app-wrap .content .home-wrap .common-box .flex-four .spu-item h3 {
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  margin: 0 8px;
  color: #333;
}
.app-wrap .content .home-wrap .common-box .flex-four .spu-item .txt {
  padding: 15px 12px 0;
  font-size: 12px;
  color: #999;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 14px;
}
.app-wrap .content .home-wrap .common-box .flex-four .spu-item .item-attr-colors {
  margin-top: 15px;
  height: 17px;
}
.app-wrap .content .home-wrap .common-box .flex-four .spu-item .item-price {
  font-family: Arial;
  font-size: 18px;
  font-weight: bolder;
  color: #d44d44;
  margin: 20px 0;
}
.app-wrap .content .home-wrap .common-box .flex-four .spu-item .item-price .orignal {
  text-decoration: line-through;
  padding-left: 10px;
  font-weight: 400;
  color: #ccc;
  font-size: 12px;
}
.app-wrap .content .home-wrap .common-box .flex-four .spu-item .actvity-tag {
  position: absolute;
  top: 10px;
  right: 10px;
}
.app-wrap .content .home-wrap .common-box .flex-four .spu-item .actvity-tag .yellow {
  color: #a06e37;
  background: #fffbdf;
  border-color: #d5b480;
  display: inline-block;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 700;
  height: 20px;
  line-height: 18px;
  border: 1px solid #e6e6e6;
  border-radius: 13px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
  text-align: center;
  box-sizing: border-box;
}
.app-wrap .content .home-wrap .com-box {
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin-top: 25px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.1);
}
.app-wrap .content .home-wrap .com-box .d-flex {
  display: flex !important;
  justify-content: space-between !important;
  position: relative;
  background: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.app-wrap .content .home-wrap .com-box .d-flex h5 {
  margin-left: 25px;
  font-weight: bolder;
  font-size: 18px;
  line-height: 60px;
  color: #666;
}
.app-wrap .content .home-wrap .com-box .flex {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.app-wrap .content .home-wrap .com-box .flex .big {
  -webkit-box-flex: 0;
  box-sizing: border-box;
  flex: 0 0 50%;
  margin: 0;
  overflow: hidden;
  position: relative;
  border-right: 1px solid #efefef;
}
.app-wrap .content .home-wrap .com-box .flex .big img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.app-wrap .content .home-wrap .com-box .flex .big:hover {
  box-shadow: inset 0 0 38px rgba(0, 0, 0, 0.08);
}
.app-wrap .content .home-wrap .com-box .flex .flex-item {
  flex: 0 0 25%;
  -webkit-box-flex: 0;
  box-sizing: border-box;
  position: relative;
  width: 305px;
  height: 429px;
  border: none;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  border-radius: initial;
  background: #fff;
  transition: box-shadow 0.15s ease-out, -webkit-box-shadow 0.15s ease-out;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.app-wrap .content .home-wrap .com-box .flex .flex-item .item-cover {
  display: block;
  margin: 0 auto;
  padding: 45px 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.app-wrap .content .home-wrap .com-box .flex .flex-item .item-cover img {
  display: block;
  width: 216px;
  height: 216px;
  margin: 0 auto;
}
.app-wrap .content .home-wrap .com-box .flex .flex-item h3 {
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  margin: 0 8px;
  color: #333;
}
.app-wrap .content .home-wrap .com-box .flex .flex-item .txt {
  padding: 15px 12px 0;
  font-size: 12px;
  color: #999;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 14px;
}
.app-wrap .content .home-wrap .com-box .flex .flex-item .item-attr-colors {
  margin-top: 15px;
  height: 17px;
}
.app-wrap .content .home-wrap .com-box .flex .flex-item .item-price {
  font-family: Arial;
  font-size: 18px;
  font-weight: bolder;
  color: #d44d44;
  margin: 20px 0;
}
.app-wrap .content .home-wrap .com-box .flex .flex-item .item-price .orignal {
  text-decoration: line-through;
  padding-left: 10px;
  font-weight: 400;
  color: #ccc;
  font-size: 12px;
}
.app-wrap .content .home-wrap .com-box .flex .flex-item .actvity-tag {
  position: absolute;
  top: 10px;
  right: 10px;
}
.app-wrap .content .home-wrap .com-box .flex .flex-item .actvity-tag .yellow {
  color: #a06e37;
  background: #fffbdf;
  border-color: #d5b480;
  display: inline-block;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 700;
  height: 20px;
  line-height: 18px;
  border: 1px solid #e6e6e6;
  border-radius: 13px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
  text-align: center;
  box-sizing: border-box;
}
.app-wrap .content .home-wrap .com-box .flex .flex-item:hover {
  box-shadow: inset 0 0 38px rgba(0, 0, 0, 0.08);
}
.app-wrap .footer {
  display: block;
  background: #fafafa;
  border-top: 1px solid #e6e6e6;
}
.app-wrap .footer .footer-wrapper {
  width: 1220px;
  margin: 0 auto;
}
.app-wrap .footer .footer-wrapper .footer-menu {
  position: relative;
  overflow: hidden;
  padding: 60px 0 55px;
  border-bottom: 1px solid #e6e6e6;
}
.app-wrap .footer .footer-wrapper .footer-menu ul .items {
  float: left;
  margin-right: 90px;
  line-height: 1;
}
.app-wrap .footer .footer-wrapper .footer-menu ul .items h3 {
  color: #646464;
  font-weight: 700;
  font-size: 12px;
  padding: 0 0 20px;
}
.app-wrap .footer .footer-wrapper .footer-menu ul .items .item-name a {
  display: block;
  color: #969696;
  font-size: 12px;
  padding: 7px 0;
}
.app-wrap .footer .footer-wrapper .footer-menu .footer-service {
  position: absolute;
  right: 0;
  overflow: hidden;
  line-height: 34px;
  text-align: right;
}
.app-wrap .footer .footer-wrapper .footer-menu .footer-service .tel {
  position: relative;
  font-size: 18px;
  font-weight: 900;
  line-height: 1;
  cursor: default;
  color: #5079d9;
}
.app-wrap .footer .footer-wrapper .footer-menu .footer-service .time {
  margin: top 15px;
  font-size: 12px;
  line-height: 1;
  color: #999;
  font-weight: 400;
}
.app-wrap .footer .footer-wrapper .footer-menu .footer-service .desc {
  margin: top 15px;
  font-size: 12px;
  line-height: 1;
  color: #999;
  font-weight: 400;
}
.app-wrap .footer .footer-wrapper .footer-menu .footer-service .online {
  float: right;
  top: 15px;
}
.app-wrap .footer .footer-wrapper .footer-menu .footer-service .online a {
  display: block;
  width: 132px;
  height: 30px;
  line-height: 30px;
  background: linear-gradient(#fcfcfc, #f5f5f5);
  cursor: pointer;
  font-weight: 700;
  margin-top: 15px;
  text-align: center;
  color: #5079d9;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
}
.app-wrap .footer .footer-wrapper .footer-menu .footer-service .online a span {
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
  display: inline-block;
}
.app-wrap .footer .footer-wrapper .footer-menu .footer-service .online a::before {
  content: "?";
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  height: 28px;
  line-height: 28px;
}
.app-wrap .footer .footer-wrapper .footer-info {
  color: #434d55;
  font-size: 12px;
  padding: 30px 0 60px;
}
.app-wrap .footer .footer-wrapper .footer-info .clearfix {
  height: 12px;
}
.app-wrap .footer .footer-wrapper .footer-info .clearfix li {
  float: left;
  line-height: 12px;
  color: #bdbdbd;
  padding: 0 10px;
  border-left: 1px solid #ccc;
}
.app-wrap .footer .footer-wrapper .footer-info .clearfix li a {
  color: #ababab;
}
.app-wrap .footer .footer-wrapper .footer-info .clearfix li:nth-of-type(1) {
  padding-left: 0;
  border-left: none;
}
.app-wrap .footer .footer-wrapper .footer-info .icp {
  margin-top: 10px;
}
.app-wrap .footer .footer-wrapper .footer-info .icp li {
  float: left;
  line-height: 12px;
  padding-right: 10px;
  border-left: 1px solid #ccc;
  padding-left: 10px;
}
.app-wrap .footer .footer-wrapper .footer-info .icp li a {
  color: #bdbdbd;
}
.app-wrap .footer .footer-wrapper .footer-info .icp li a:hover {
  color: #5079d9;
}
.app-wrap .footer .footer-wrapper .footer-info .icp li:nth-of-type(1) {
  border-left: none;
  padding-left: 0;
}
.app-wrap .footer .footer-wrapper .footer-info .icp .public {
  position: relative;
  padding-left: 35px !important;
}