@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

html,
body {
  height: 100%;
}
html .box,
body .box {
  min-height: 800px;
  min-width: 630px;
  background-image: url(../images/登录_bg.png);
  background-size: auto;
  background-repeat: repeat;
  position: relative;
}
html .box .main,
body .box .main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 480px;
  margin-left: -240px;
  margin-top: -170px;
  font-weight: 700;
  border: 1px solid #dadada;
  border-radius: 12px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  background: #fff;
}
html .box .main .title,
body .box .main .title {
  height: 50px;
  background: rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
}
html .box .main .title h4,
body .box .main .title h4 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: none;
  text-align: center;
  position: absolute;
  bottom: 0;
}
html .box .main .content,
body .box .main .content {
  margin-top: 23px;
  padding: 0 18px 12px;
  position: relative;
  z-index: 9;
}
html .box .main .content .form .form-common,
body .box .main .content .form .form-common {
  list-style: none;
}
html .box .main .content .form .form-common li,
body .box .main .content .form .form-common li {
  margin: 14px 0;
  position: relative;
}
html .box .main .content .form .form-common a:hover,
body .box .main .content .form .form-common a:hover {
  color: #406dd6;
}
html .box .main .content .form .form-common input,
body .box .main .content .form .form-common input {
  border: 0;
  background: rgba(255, 255, 255, 0.15);
  font-weight: 700;
  font-size: 15px;
}
html .box .main .content .form .form-common .input,
body .box .main .content .form .form-common .input {
  height: 38px;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.15);
  font-size: 15px;
  line-height: 40px;
  opacity: 1 !important;
  position: relative;
}
html .box .main .content .form .form-common .country .cr,
body .box .main .content .form .form-common .country .cr {
  text-align: left;
  left: 12px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
  width: 112px;
  cursor: default;
  position: relative;
}
html .box .main .content .form .form-common .country .cr:hover,
body .box .main .content .form .form-common .country .cr:hover {
  color: rgba(0, 0, 0, 0.6);
}
html .box .main .content .form .form-common .country .cy,
body .box .main .content .form .form-common .country .cy {
  text-align: right;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  right: 11px;
  background-position: right center;
  padding-right: 12px;
  position: absolute;
  max-width: 76px;
  overflow: hidden;
  background-image: url(../images/change.png);
  background-size: 8px 12px;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 100;
}
html .box .main .content .form .form-common .username .qh,
body .box .main .content .form .form-common .username .qh {
  line-height: 40px;
  left: 12px;
  text-align: left;
  width: 55px;
  position: relative;
}
html .box .main .content .form .form-common .username .phone,
body .box .main .content .form .form-common .username .phone {
  width: 372px;
  padding: 12px 0;
  padding-right: 0;
  left: 62px;
  position: absolute;
  color: rgba(0, 0, 0, 0.45);
}
html .box .main .content .form .form-common .username .input:hover,
body .box .main .content .form .form-common .username .input:hover {
  color: rgba(0, 0, 0, 0.4);
}
html .box .main .content .form .form-common .password .input,
body .box .main .content .form .form-common .password .input {
  display: inline-block;
  width: 330px;
}
html .box .main .content .form .form-common .password .input .mm,
body .box .main .content .form .form-common .password .input .mm {
  line-height: 40px;
  left: 12px;
  text-align: left;
  width: 35px;
  position: relative;
}
html .box .main .content .form .form-common .password .input .pass,
body .box .main .content .form .form-common .password .input .pass {
  width: 300px;
  line-height: 40px;
  left: 12px;
  position: absolute;
}
html .box .main .content .form .form-common .password .input .yz,
body .box .main .content .form .form-common .password .input .yz {
  height: 40px;
  line-height: 40px;
  text-align: right;
  position: absolute;
  top: 0;
  right: 7px;
}
html .box .main .content .form .form-common .password .yzm,
body .box .main .content .form .form-common .password .yzm {
  float: right;
  height: 39px;
  line-height: 39px;
  width: 94px;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}
html .box .main .content .form .form-common .password .yzm .getyzm,
body .box .main .content .form .form-common .password .yzm .getyzm {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
  outline: none;
  cursor: pointer;
}
html .box .main .content .form .form-common .error,
body .box .main .content .form .form-common .error {
  display: none;
  opacity: 0;
  background-color: #E65C53;
  color: #fff;
  position: absolute;
  top: 0;
  right: 7px;
  height: 30px;
  line-height: 30px;
  margin: 4px 0 0;
  padding: 0 12px;
}
html .box .main .content .form .form-common .note,
body .box .main .content .form .form-common .note {
  height: 28px;
  line-height: 28px;
  margin: 6px 12px 0;
  font-size: 13.5px;
}
html .box .main .content .form .form-common .note div,
body .box .main .content .form .form-common .note div {
  display: inline-block;
  color: #999;
  font-size: 13.5px;
  vertical-align: middle;
}
html .box .main .content .form .form-common .note a,
body .box .main .content .form .form-common .note a {
  color: #5C89F2;
  cursor: pointer;
}
html .box .main .content .form .form-common .note a:hover,
body .box .main .content .form .form-common .note a:hover {
  color: #406dd6;
}
html .box .main .content .form .form-common .note a:nth-of-type(2),
body .box .main .content .form .form-common .note a:nth-of-type(2) {
  margin-left: 0;
  float: right;
  margin-right: 8px;
}
html .box .main .content .form .form-common .note a:nth-of-type(1),
body .box .main .content .form .form-common .note a:nth-of-type(1) {
  width: 60px;
  margin-right: 0;
  float: right;
  font-size: 13px;
  white-space: nowrap;
}
html .box .main .content .form .btn,
body .box .main .content .form .btn {
  width: 444px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: 24px 0 10px;
  border-radius: 10px;
  background: #5C89F2;
  border: 1px solid #3d70ef;
  opacity: 0.3;
  overflow: hidden;
}
html .box .main .content .form .btn a,
body .box .main .content .form .btn a {
  color: #fff;
  display: block;
  font-size: 18px;
}
html .box .main .content .form .info,
body .box .main .content .form .info {
  position: relative;
  text-align: center;
  padding: 2px 6px 0 6px;
  font-size: 16px;
  height: 28px;
}
html .box .main .content .form .info ul li:nth-of-type(1),
body .box .main .content .form .info ul li:nth-of-type(1) {
  float: left;
}
html .box .main .content .form .info ul li:nth-of-type(1) .text,
body .box .main .content .form .info ul li:nth-of-type(1) .text {
  font-size: 13px;
  height: 28px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.4);
}
html .box .main .content .form .info ul li:nth-of-type(1) .li,
body .box .main .content .form .info ul li:nth-of-type(1) .li {
  width: 16px;
  height: 16px;
  margin-top: 6px;
  margin-left: 10px;
  background-position: 0 0;
  background-size: 16px;
  float: left;
}
html .box .main .content .form .info ul li:nth-of-type(1) .weixin,
body .box .main .content .form .info ul li:nth-of-type(1) .weixin {
  background-image: url(../images/weixin.png);
}
html .box .main .content .form .info ul li:nth-of-type(1) .weixin:hover,
body .box .main .content .form .info ul li:nth-of-type(1) .weixin:hover {
  background-image: url(../images/weixin-light.png);
}
html .box .main .content .form .info ul li:nth-of-type(1) .weibo,
body .box .main .content .form .info ul li:nth-of-type(1) .weibo {
  background-image: url(../images/weibo.png);
}
html .box .main .content .form .info ul li:nth-of-type(1) .weibo:hover,
body .box .main .content .form .info ul li:nth-of-type(1) .weibo:hover {
  background-image: url(../images/weibo-light.png);
}
html .box .main .content .form .info ul li:nth-of-type(1) .qq,
body .box .main .content .form .info ul li:nth-of-type(1) .qq {
  background-image: url(../images/qq.png);
}
html .box .main .content .form .info ul li:nth-of-type(1) .qq:hover,
body .box .main .content .form .info ul li:nth-of-type(1) .qq:hover {
  background-image: url(../images/qq-light.png);
}
html .box .main .content .form .info ul li:nth-of-type(1) .zfb,
body .box .main .content .form .info ul li:nth-of-type(1) .zfb {
  background-image: url(../images/pay.png);
}
html .box .main .content .form .info ul li:nth-of-type(1) .zfb:hover,
body .box .main .content .form .info ul li:nth-of-type(1) .zfb:hover {
  background-image: url(../images/pay-light.png);
}
html .box .main .content .form .info ul li:nth-of-type(2),
body .box .main .content .form .info ul li:nth-of-type(2) {
  float: right;
}
html .box .main .content .form .info ul li:nth-of-type(2) a,
body .box .main .content .form .info ul li:nth-of-type(2) a {
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.4);
}
html .box .main .content .form .info ul li:nth-of-type(2) a .gt:before,
body .box .main .content .form .info ul li:nth-of-type(2) a .gt:before {
  content: ">";
}
html .box .main .content .form .agreement,
body .box .main .content .form .agreement {
  margin-top: 10px;
  padding-top: 12px;
  font-size: 13.5px;
  font-weight: 700;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
}
html .box .main .content .form .agreement span,
body .box .main .content .form .agreement span {
  display: block;
  height: 24px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
html .box .main .content .form .agreement span a,
body .box .main .content .form .agreement span a {
  line-height: 24px;
  color: #5C89F2;
  cursor: pointer;
}
html .box .main .content .form .agreement span a:hover,
body .box .main .content .form .agreement span a:hover {
  color: #406dd6;
}
html .box .main .content .country-list,
body .box .main .content .country-list {
  position: absolute;
  top: 39px;
  right: 18px;
  border: 0.33px solid #dadada;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  z-index: 99;
}
html .box .main .content .country-list .countrylist,
body .box .main .content .country-list .countrylist {
  width: 218px;
  height: 346px;
  display: none;
  background-color: #fff;
}
html .box .main .content .country-list .countrylist .p,
body .box .main .content .country-list .countrylist .p {
  line-height: 30px;
  margin-left: 12px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
}
html .box .main .content .country-list .countrylist li,
body .box .main .content .country-list .countrylist li {
  height: 44px;
  line-height: 44px;
  padding-left: 12px;
  border-top: 1px solid #e2e2e2;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}
html .foot,
body .foot {
  width: 100%;
  color: #434d55;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  text-align: center;
}
html .foot .foot_fix,
body .foot .foot_fix {
  display: inline-block;
  margin: 0 auto;
}
html .foot .foot_fix h2,
body .foot .foot_fix h2 {
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}
html .foot h4,
body .foot h4 {
  height: 20px;
  line-height: 20px;
  margin-top: 8px;
  font-size: 14px;
}
html .foot h4 a,
body .foot h4 a {
  color: #5C89F2;
  cursor: pointer;
  text-decoration: none;
}